:root {
  font-family: Tahoma, 'Trebuchet MS', Verdana, Geneva, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #000000;
  background: #3a6ea5;
  font-synthesis: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #3a6ea5;
}

#root {
  width: 100%;
}

a {
  color: #0000ee;
  text-decoration: underline;
}

a:hover {
  color: #551a8b;
}
